

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: hotpink;

@import 'bootstrap';
body{
	padding-top: 6px;
}
@import 'bootstrap-responsive';

.navbar-inner{
	@include box-shadow(none !important);
	border: 0px;
}

.footer{
	margin-top: 50px;
	color: $grayLight;
	a{
		color:$gray;
	}
}
