
<div class="row">
<div class="span4">
<%= image_tag("dino.jpg", :alt => "Professional") %>

</div>
<div class="span8">
<div class="center hero-unit">
	<h1>I Didn't Ask for This</h1>
 <p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>
</div>	
</div>